@darkPrimaryColor:   #1976D2;
@primaryColor:       #2196F3;
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #FF9800;
@primaryTextColor:   #212121;
@secondaryTextColor: #727272;
@dividerColor:       #B6B6B6;

figure{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
  font-size: 0;
}

button{
  padding: 0;
}

h1{

}

h2{
  
}

h4{
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: @primaryColor;
}

div, section, article, header, main, footer, button{
	box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"]{
  font-size: 16px;
  letter-spacing: 1px;
  color: @darkPrimaryColor;

  &:focus{
    outline: none;
  }
}

input::-webkit-input-placeholder{
  font-size: 16px;
  opacity: 1;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input::-moz-placeholder{
  font-size: 16px;
  opacity: 1;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}/* Firefox 19+ */
input:-moz-placeholder{
  font-size: 16px;
  opacity: 1;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}/* Firefox 18- */
input:-ms-input-placeholder{
  font-size: 16px;
  opacity: 1;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder      {opacity: 0;}

.materialStaticShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body{
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Roboto';
  color: @primaryTextColor;
  overflow-x: hidden;
}

.great-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-weight: 300;
  background: @darkPrimaryColor;
  box-shadow: 0 1px 1px 0 rgba(33, 33, 33, 0.5);
  z-index: 1;
}

.great-header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 0 20px;
}

.great-header__name{
  color: #fff;
  position: relative;
}

.great-header__great-menu{
  display: flex;
  align-items: center;
  height: 100%;
}

.great-header__ul{
  display: flex;
  align-items: center;
  height: 100%;
}

.great-header__li{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.great-header__a{
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  position: relative;

  &:after{
      content: "";
      width: 0;
      height: 2px;
      background: @accentColor;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  &:hover{
    &:after{
      width: 100%;
      transition: (0.2s);
      transition-property: width;
    }  
  }

  &:active{
    color: darken(#fff, 10%);

    &:after{
      background: darken(@accentColor, 10%);
    }
  }
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: #f2f2f2;
}

.screen{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: @primaryColor;
}

.screen__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 0 20px;
}

.face{
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
  background-image: url("../img/lis.png");
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: contain;
}

.screen__txt-area{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
}

.screen__title{
  width: 100%;
  margin: 20px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 400;
}

.screen__description{
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4 * 16px;
}

.portfolio{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 60px 20px;
}

.portfolio__wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 60px 20px;
}

.title{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 300;
}

.portfolio__cards{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

.card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 23.5%;
  max-width: 270px;
  border-radius: 2px;
  .materialStaticShadow;
}

.card__header{
  padding: 20px;
  border-radius: 2px 2px 0 0;
  background: @primaryColor;
}

.card__pic{
  font-size: 0;
}

.card__title{
  height: 50px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4 * 18px;
  color: #fff;
  overflow: hidden;
}

.card__footer{
  padding: 30px 20px 20px 20px;
  border-radius: 0 0 2px 2px;
  background: #fff;
  color: @secondaryTextColor;
  position: relative;
}

.card__description{
  height: 57px;
  line-height: 1.4 * 14px;
  overflow: hidden;
}

.card__button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -22.5px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: @accentColor;
  overflow: hidden;
  .materialStaticShadow;
  z-index: 1;
}

.card__a{
  width: 45px;
  height: 45px;
  background-image: url("../img/clicker.svg");
  background-repeat: no-repeat;
  background-size: 22.5px;
  background-position: 10px 10px;
  z-index: 1;
}

.skills{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.skill{
  display: flex;
  width: 49%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 2px;
  background: #fff;
  .materialStaticShadow;
}

.skill__pic{
  width: 90px;
  height: 85px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50%;
}

.skill__pic--html{
  background-image: url("../img/html5.png");
}

.skill__txt{
  width: 100%;
  margin-left: 10px;
}

.skill__title{
  margin-bottom: 2.5px;
  font-size: 22px;
  text-transform: uppercase;
  color: @accentColor;
}

.skill__description{
  height: 57px;
  overflow: hidden;
  line-height: 1.4 * 14px;
  color: @secondaryTextColor;
}

























































































.ink {
  display: block;
  position: absolute;
  background: rgba(33, 33, 33, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transform: scale(0);
}
.ink.animate {
  animation: ripple 0.6s linear;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

@media (max-width: 960px){
  .portfolio__cards{
    flex-wrap: wrap;
  }

  .card{
    width: 47.5%;
    max-width: 100%;
    margin-bottom: 5%;
  }

  .screen__title{
    font-size: 48px;
  }

  .title{
    font-size: 38px;
  }
}

@media (max-width: 480px){
  .card{
    width: 100%;
  }

  .screen__title{
    font-size: 38px;
  }

  .title{
    font-size: 32px;
  }
}